@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    width: 15rem;
    height: 15rem;
    flex-wrap: wrap;
    margin: 2rem;
    border-radius: 10px;
}

.card{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    /* overflow: hidden; */
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.back img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.back, .front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card.oculto{
    /* transition-delay: 1s; */
}

.card.jugando, .card.encontrada{
    transform: rotateY(180deg);
}

.card.encontrada {
    box-shadow: 0 10px 20px rgba(24, 93, 30, 0.19), 0 6px 6px rgba(24, 93, 30, 0.219);
    /* box-shadow: 9px 11px 18px 0px rgba(197, 197, 197, 0.34) */
}

.front {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5%;
}

.front p {
    font-size: 2rem;
}

.gif {
    width: 50%;
}